.taskbar {
    height:50px;
    width: 100%;
    background-color:black;
    border: 1px solid aqua;
    display: flex;
    justify-content: space-evenly; 
}

.taskbar a{
    margin-top: 13px;
    display: inline-block;
    background: transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.taskbar a:active {
    color: black !important;
    background-color: white;
    padding: 15px !important;
    margin: 0px !important;
}

.taskbar a:hover {
    padding-top: 5px;
    color: aqua;
}